<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace名字必须与Mapper接口名一致 -->
<mapper namespace="cn.info.platform.mapper.ObjectUserMapper">
	<select id="findbound_user" resultMap="objectuserMap"
		parameterType="int">
		select *,(select user_xm from tab_user where
		user_name=tab_object_user.user_name) user_xm
		from
		tab_object_user
		where
		object_id=#{object_id}
	</select>
	<insert id="add_user" parameterType="objectuser">
		insert into
		tab_object_user(object_id,user_name)
		values
		(#{object_id},#{user_name})
	</insert>
	<delete id="del_user" parameterType="int">
		delete from tab_object_user
		where
		object_id = #{object_id}
	</delete>
</mapper>