<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace名字必须与Mapper接口名一致 -->
<mapper namespace="cn.info.platform.mapper.ObjectUserMapper">
	<select id="findbound_user" resultMap="objectuserMap"
		parameterType="int">
		select *,(select user_xm from tab_user where
		user_name=tab_object_user.user_name) user_xm
		from
		tab_object_user
		where
		object_id=#{object_id}
	</select>
	<select id="getCountsByUserName" resultType="int" parameterType="map">
		select count(*) from
		tab_object_user
		where
		user_name=#{user_name} and
		object_id in (select object_id from tab_callobject where
		pro_id=#{pro_id})
	</select>
	<select id="getUserNameByObjectId" resultType="String"
		parameterType="int">
		select user_name from tab_object_user where object_id =
		#{object_id}
	</select>
	<insert id="add_user" parameterType="map">
		insert into
		tab_object_user(object_id,user_name)
		select object_id,#{user_name}
		from
		tab_callobject where pro_id=#{pro_id} and
		object_state='0' and
		object_id not in (select object_id from tab_object_user) limit
		0,#{object_num}
	</insert>
	<delete id="del_user" parameterType="map">
		delete from tab_object_user
		where
		object_id in (select object_id from tab_callobject where
		pro_id=#{pro_id})
	</delete>
	<delete id="delObjByObjectId" parameterType="map">
		delete from
		tab_object_user
		where
		object_id=#{obj_id}
	</delete>
</mapper>